<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Farsi.Library" version="2.6.0" targetFramework="net46" />
  <package id="Farsi.Library.Win" version="2.6.0" targetFramework="net46" />
  <package id="FCTB" version="2.16.11.0" targetFramework="net40" />
  <package id="Droid_cryptography" version="1.0.5" targetFramework="net40" />
  <package id="officeribbon" version="3.5.8.4" targetFramework="net40" />
  <package id="Tools4Libraries" version="1.0.10" targetFramework="net46" />
</packages>
